# macOS
.DS_Store

# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache/
.apt_generated
.factorypath

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code (on garde les configs utiles)
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Maven
/target/
*.class
*.log

# Env / secrets
.env
