<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div th:replace="fragments/header :: fragment"></div>

<section class="entreprise-page">

    <h1>Publicité sur véhicules</h1>

    <p class="entreprise-text">
        Votre véhicule devient un support de communication mobile.
        Nous concevons et installons des solutions publicitaires efficaces, élégantes et adaptées à votre image.
    </p>

    <img src="/img/placeholder-service.jpg" class="entreprise-page-image">

    <a href="/contact" class="entreprise-page-cta">En savoir plus</a>

</section>

</body>
</html>
